@use "./variables.scss" as *;

body {
  font-size: 16px;
  // Navbar
  .navbar {
    background: $red-navbar;
    .container-fluid {
      color: black;
      .navbar-nav {
        display: flex;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        color: black;
        @media (max-width: 640px) {
          gap: 0.5rem;
        }
        .nav-item {
          color: #000;
        }
      }
    }
  }
  // Home
  .split-background {
    display: flex;
    color: $secondary;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .left-panel {
      flex-grow: 1;
      background: $red-white-gradient;
      height: 100vh;
      @media (max-width: 640px) {
        height: 70vh;
      }
      .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          width: 30rem;
          height: 30rem;
          bottom: 50px;
          right: 50px;
          @media (max-width: 640px) {
            left: 5px;
            width: 20rem;
            height: 20rem;
          }
        }
      }
    }
    .right-panel {
      flex: 2;
      background: $red-white-gradient-2;
      height: 100vh;
      .biodata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        @media (max-width: 640px) {
          height: 60vh;
        }
        .skill {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
  // Form Style
  .form-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: flex;
    border: 20px solid #d00606;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    @media (max-width: 640px) {
      height: 80vh;
    }
    .form {
      padding: 200px 0;
      @media (max-width: 640px) {
        padding: 50px 0;
      }
      .photo-section {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 150px;
          height: 150px;
          @media (max-width: 640px) {
          }
        }
        h1 {
          font-weight: 500;
        }
      }
      .form-input {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        @media (max-width: 640px) {
          justify-content: center;
          align-items: center;
        }
        .input {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          label {
            font-size: 1rem;
            color: #000;
          }
          input,
          textarea {
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            color: #fff;
            width: 50rem;
            background: $red-white-gradient-2;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: #fff;
            }
            @media (max-width: 640px) {
              width: 20rem;
            }
          }
          textarea {
            height: 10rem;
          }
        }
        button {
          margin-top: 1.5rem;
          width: 8rem;
          height: 2rem;
          border-radius: 0.5rem;
          border: none;
          background: $red-white-gradient-2;
          color: white;
          @media (max-width: 640px) {
            margin-top: 0.5rem;
          }
        }
        .message,
        .error {
          font-size: 1.1rem;
          color: red;
        }
        .success-message {
          font-size: 1.1rem;
          color: green;
        }
      }
    }
  }
  // .photo-section {
  //   flex-grow: 1;
  //   background: $red-white-gradient;
  //   height: 100vh;
  //   @media (max-width: 640px) {
  //     height: 60vh;
  //   }
  //   .photo {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     height: 100vh;
  //     gap: 2rem;
  //     @media (max-width: 640px) {
  //       height: 65vh;
  //     }
  //   }
  // }
  // Footer style
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 24px;
    height: 30vh;
    .footer-sections {
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media (max-width: 640px) {
        gap: 20px;
      }

      .contact-follow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        .contact-icons {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
