@use "./variables.scss" as *;

body {
  font-size: 16px;
  // Navbar
  .navbar {
    background: $red-navbar;
    .navbar-nav {
      display: flex;
      justify-content: center;
      gap: 3rem;
      width: 100%;
      .container-fluid {
        gap: 40px;
      }
    }
  }
  // Home
  .split-background {
    display: flex;
    color: $secondary;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .left-panel {
      flex-grow: 1;
      background: $red-white-gradient;
      height: 100vh;
      @media (max-width: 640px) {
        height: 70vh;
      }
      .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        img {
          position: absolute;
          width: 30rem;
          height: 30rem;
          bottom: 50px;
          right: 50px;
          @media (max-width: 640px) {
            left: 5px;
            width: 20rem;
            height: 20rem;
          }
        }
      }
    }
    .right-panel {
      flex: 2;
      background: $red-white-gradient-2;
      height: 100vh;
      .biodata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        @media (max-width: 640px) {
          height: 60vh;
        }
      }
    }
  }
  // Form Style
  .form-section {
    display: flex;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    .form-section {
      height: 100vh;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $red-white-gradient-2;
      @media (max-width: 640px) {
        height: 80vh;
      }
      .form {
        padding: 200px 0;
        @media (max-width: 640px) {
          padding: 50px 0;
        }
        .input {
          display: flex;
          flex-direction: column;
          label {
            font-size: 1rem;
            color: $secondary;
          }
          input,
          textarea {
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            color: black;
            width: 50rem;
            &:focus {
              outline: none;
            }
            @media (max-width: 640px) {
              width: 20rem;
            }
          }
          textarea {
            height: 10rem;
          }
        }
        button {
          margin-top: 3rem;
          width: 8rem;
          height: 2rem;
          border-radius: 0.5rem;
          border: none;
        }
        .success-message,
        .error-message {
          font-size: 1.1rem;
          color: white;
        }
      }
    }
    .photo-section {
      flex-grow: 1;
      background: $red-white-gradient;
      height: 100vh;
      @media (max-width: 640px) {
        height: 60vh;
      }
      .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        @media (max-width: 640px) {
          height: 65vh;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          // top: 5rem;
          bottom: 50px;
          right: 3px;
          @media (max-width: 640px) {
            right: 5px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  // Footer style
  .footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 24px;
    height: 20vh;
    .footer-sections {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 50px;

      @media (max-width: 640px) {
        gap: 20px;
      }

      .contact-follow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }
    .contact-follow {
      .contact-icons {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
