@use "./variables.scss" as *;

body {
  background: $secondary;
  font-size: 16px;
  .navbar-nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    .container-fluid {
      gap: 40px;
    }
  }
  // Home
  .split-background {
    display: flex;
    height: 100vh;
    .left-panel {
      flex-grow: 1;
      background-color: teal;
    }
    .right-panel {
      flex: 2;
      background-color: blue;
      .biodata {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
  // Footer styling
  .footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 8px 24px;
    height: 50vh;
    .footer-sections {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      .content-section {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        h1 {
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .inner-section {
          display: flex;
          gap: 5px;
          p {
            margin: 0;
          }
        }
      }
      .contact-follow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
      }
    }
  }
}
