$primary: teal;
$secondary: whitesmoke;
$accent: orange;
$background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #ff4b4b 0.89%, #ff1c1c 17.23%, #e12525 42.04%, #ff5a5a 55.12%, #920000 71.54%, #ff0000 100%);
$red-white-gradient: linear-gradient(90deg, #f72727 -278.56%, #6d6d6d -78.47%, #ff0000 91.61%);
$red-white-gradient-2: linear-gradient(90deg, #d00606 30%, #db0202 68.47%, #ff0000 91.61%);
$red-navbar: linear-gradient(90deg, #fc0b0b 33.35%, #c60101 -78.47%, #ff0000 91.61%);
$red-gradient: linear-gradient(157.81deg, #def9fa -43.27%, #ffd1d1 -21.24%, #fe8b8b 12.19%, #eb7d7d 29.82%, #e65c5c 51.94%, #cf3333 90.29%);
$red-gradient-2: linear-gradient(-168.39deg, #ffffff -278.56%, #430000 -78.47%, #341201 91.61%);

// Add more variables as needed
